<%= form_for(@publication) do |f| %>


  <div class="field">
    <%= f.label :dblp_id %><br>
    <%= f.number_field :dblp_id %>
  </div>
  <div class="field">
    <%= f.label :publication_description %><br>
    <%= f.text_field :publication_description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
