
%h1 Publications
%form{method: :put}
  = select_tag(:lecturer_id, options_from_collection_for_select(Lecturer.all, :id, :family_name, :selected => params[:family_name]), {class: "uk-select", onchange: "this.form.submit();", prompt: "Select a lecturer name"})
%table.uk-table
  %thead
    %tr
      %th Lecturer
      %th Dblp
      %th Publication description

  %tbody
    - @publications.each do |publication|
      %tr
        %td
          = link_to "#{publication.lecturer.first_name} #{publication.lecturer.family_name}", lecturer_path(publication.lecturer), class: "uk-button uk-button-link"
        %td= publication.dblp_id
        %td= publication.publication_description

