<p>
  <strong>Lecturer:</strong>
  <%= @publication.lecturer.first_name %> <%= @publication.lecturer.family_name %>
</p>
<p>
  <strong>Dblp:</strong>
  <%= @publication.dblp_id %>
</p>

<p>
  <strong>Publication description:</strong>
  <%= @publication.publication_description %>
</p>

<%= link_to 'Edit', edit_publication_path(@publication) %> |
<%= link_to 'Back', publications_path %>
