= errors_for(@module_description)
= form_for(@module_description) do |f|
  .uk-form-horizontal.uk-margin-large
    .uk-margin
      = f.label "Lecturer", class: "uk-form-label"
      .uk-form-controls
        = f.collection_check_boxes :lecturer_ids, Lecturer.all, :id, :family_name do |b|
          .collection-check-box
            = b.check_box
            = b.label
    .uk-margin
      = f.label :name, 'Name', class: "uk-form-label"
      .uk-form-controls
        = f.text_field :name , class: "uk-input"
    .uk-margin
      = f.label :description, 'Description', class: "uk-form-label"
      .uk-form-controls
        = f.text_area :description , class: "uk-textarea"
  = f.submit 'Save',  class: "uk-button uk-button-primary uk-button-small"
