<h1><%= @module_description.name %></h1>
  
<table  class="table table-striped" >	
  <thead>
    <tr>
      <th>Lecturer:</th>
       <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
     <%- @module_description.lecturers.each do |lecturer| %> 
      <tr>
        <td><%= lecturer.first_name  %> <%= lecturer.family_name %></td>
		    <td><%= link_to 'Link', lecturer_path(lecturer.id), :target => "_blank" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table  class="table table-striped" >	
  <thead>
    <tr>
      <th>Description:</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @module_description.description %></td>
      </tr>
  </tbody>
</table>



<%= link_to 'Edit', edit_module_description_path(@module_description) %> |
<%= link_to 'Back', module_descriptions_path %>
