= form_for(@lecturer) do |f|
  .uk-form-horizontal.uk-margin-large
    .uk-margin
      = f.label :first_name, 'First Name', class: "uk-form-label"
      .uk-form-controls
        = f.text_field :first_name , placeholder: 'First Name' ,  class: "uk-input"
    .uk-margin
      = f.label :family_name, 'Family Name', class: "uk-form-label"
      .uk-form-controls
        = f.text_field :family_name , placeholder: 'Family Name' ,  class: "uk-input"
    %div
      = submit_tag 'Update Publications', class: "uk-button uk-button-primary uk-button-small"
