%h1 Lecturers
= link_to 'New Lecturer', new_lecturer_path , class: "uk-button uk-button-secondary uk-button-small"
%table.uk-table.uk-table-divider.uk-table-middle
  %thead
    %tr
      %th.uk-width-4-6 Name
      %th.uk-width-1-5
      %th.uk-width-1-5
  %tbody
    - @lecturers.each do |lecturer|
      %tr
        %td
          = link_to "#{lecturer.first_name} #{lecturer.family_name}", lecturer_path(lecturer), class: "uk-button uk-button-link"

        %td
          = link_to "DBLP", "http://dblp.uni-trier.de/search?q=#{lecturer.first_name}%20#{lecturer.family_name}", target: "_blank", class: "uk-button uk-button-link  uk-button-small"
        %td
          = link_to (fa_icon "trash"), lecturer, method: :delete, data: { confirm: 'Are you sure?'}, class: "uk-button uk-button-danger uk-button-small"
