%h2.uk-heading-bullet
  = @lecturer.first_name
  = @lecturer.family_name
%h3.uk-heading-divider
  = 'Publications'
%table.uk-table.uk-table-divider
  %tbody
    - @publications.each do |publication|
      %tr
        %td= publication.publication_description
        %td= link_to "DBLP", "http://dblp.uni-trier.de/rec/bibtex/#{publication.dblp_id}.xml", :target => "_blank"
= link_to 'Edit', edit_lecturer_path(@lecturer)
|
= link_to 'Back', lecturers_path
