!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Modulhandbuch
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .logo-line
      = link_to image_tag("logo.png"),  'https://www.hs-rm.de/de/'
    #wrapper
      = render 'layouts/navigation'
      = yield
